<div class="h-flex-1 d-flex flex-column justify-content-center align-items-center flex-lg-row">
    <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-3 px-3 h-external-option">
        <mat-card class="w-100 d-flex flex-column align-items-center" [routerLink]="'admin-login'">
            <mat-icon>supervised_user_circle</mat-icon>
            <h3>Admin Panel</h3>
        </mat-card>
    </div>

    <div class="col-10 col-sm-7 mt-4 mt-lg-0 col-md-6 col-lg-5 col-xl-3 px-3 h-external-option">
        <mat-card class="w-100 d-flex flex-column align-items-center" [routerLink]="'home/guest'">
            <mat-icon>photo_camera</mat-icon>
            <h3>Camera Viewer</h3>
        </mat-card>
    </div>
</div>